.footer-container {
    background: #fff !important;
}

.footer-checkout-button.ion-color .text-paragraph {
    color: #ffffff!important;
}

.product-container {
    border: none !important;
}

.category-container {
    border: none !important;
    color: black;
}
.rtl .tracking-page-card ion-card-title {
  text-align:right;
}
.text-body-2{
font-weight: normal !important;
font-size:10px !important;
}
.product-container{
padding:0 !important;
}
.product-name{
font-size:10px !important;

}
.text-body-2{
font-size:10px !important;

}
.product-container .product-name{
font-size: 15px !important;
text-align: center !important;
  margin-bottom:-15px !important;

}

.bottom-container div:nth-child(){
margin-bottom:-10px !important;
}
.breadcrumb-native:nth-child(2){
 display: none !important;
}

@media (max-width:700px){
.product-container .product-name{
font-size:11px !important;
}


}



app-product-view .collapsible {
  border-top: 1px solid #ddd!important;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-weight: bolder;
  font-size: larger;
  margin-bottom: 10px;
  letter-spacing: 1px!important;
}
[lang="ar"] app-product-view .collapsible {
  text-align: right;
}
app-product-view .normal{font-weight:normal;}
app-product-view b{
  color: #9c6e71;
}




/* (A) TABS CONTAINER */
app-product-view .tab {
  position: relative;
}

/* (B) HIDE CHECKBOX */
app-product-view .tab input { display: none; }

/* (C) TAB LABEL */
app-product-view .tab label {
  display: block;
  padding: 10px;
  color: #fff;
  font-weight: bold;
  background: #000000;
  cursor: pointer;
}

/* (D) TAB CONTENT */
app-product-view .tab .tab-content {
  background: #f7f7f785;
  /* CSS ANIMATION WILL NOT WORK WITH AUTO HEIGHT */
  /* THIS IS WHY WE USE MAX-HEIGHT INSTEAD */
  overflow: hidden;
  max-height: 0;
}
app-product-view .tab .tab-content p { padding: 10px; }

/* (E) OPEN TAB ON CHECKED */
app-product-view .tab input:checked ~ .tab-content { max-height: 100%; }

/* (F) EXTRA - ADD ARROW INDICATOR */
app-product-view .tab label::after {
  content: "+";
  position: absolute;
  right: 10px;
  top: 10px;
  display: block;
  transition: all 0.4s;
  font-size:24px;
}
app-product-view .tab input:checked ~ label::after {
  content: "-";
  position: absolute;
  right: 10px;
  top: 10px;
  display: block;
  transition: all 0.4s;
  font-size:24px;
 }
[lang="ar"] app-product-view .tab label::after{
  right:auto;
  left:10px;
}
app-product-view .tab label {
    color: black;
    background: none;
    border-bottom: 1px solid #dddddd !important;
    color: #1c1b1b;
    padding: 20px 0;
}
app-full-width-category ion-label {
    display: none;
}


.carousel-title {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 50px;
    letter-spacing: 3px;
}
app-login-button .logo-container img{
display:none;

}
app-login-button .logo-container{
    content: " ";
    min-width: 40px;
    background: url(https://static.moh-mypaydo.com/media/fnbyfn/fn-emblem-01-669676c9-9-216874e3-1.png);
    background-position: center;
    background-size: cover;
}

@media(min-width:900px){
.carousel-title {
    margin-top: 100px;
}
}
@media(max-width:900px){
.logo-container #logo {
    height: 3em !important;
    width: unset;
}
}